
    
      <section class="about-us">


        <div class=" container">

          <header>
            <h2>
                <div>Growth</div>
                <div>opportunities <span>for</span></div>
                <div><span>everyone</span></div>
            </h2>
            <p>
                Unlock the potential of your workforce by leveraging Zedny's tailored learning solutions.
            </p>
        </header>


          
     <article>
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6">
        <div class="about-main-card">
          <div class="icon">
            <i class="fa-regular fa-user"></i>
          </div>
          <div class="info">
            <h4>Scalable Learning Experience</h4>
            <p>Seamlessly blend innovative technologies to empower your team and keep them engaged throughout their learning journey.</p>
          </div>
          <div class="action">
            <button>Talk to Sales</button>
          </div>
  
          <div class="community-card">
            <div class="list ">
              <ul>
                <li><img src="./assets/images/1.jpg" alt="Description 1"></li>
                <li><img src="./assets/images/2.jpg" alt="Description 2"></li>
                <li><img src="./assets/images/3.jpg" alt="Description 3"></li>
                <li><img src="./assets/images/4.jpg" alt="Description 4"></li>
                <li><img src="./assets/images/5.jpg" alt="Description 5"></li>
                <li><img src="./assets/images/6.jpg" alt="Description 6"></li>
                <li><img src="./assets/images/7.jpg" alt="Description 7"></li>
              </ul>
              <ul>
                <li><img src="./assets/images/1.jpg" alt="Description 1"></li>
                <li><img src="./assets/images/2.jpg" alt="Description 2"></li>
                <li><img src="./assets/images/3.jpg" alt="Description 3"></li>
                <li><img src="./assets/images/4.jpg" alt="Description 4"></li>
                <li><img src="./assets/images/5.jpg" alt="Description 5"></li>
                <li><img src="./assets/images/6.jpg" alt="Description 6"></li>
                <li><img src="./assets/images/7.jpg" alt="Description 7"></li>
              </ul>
            </div>
  
            <div class="list-reverse ">
              <ul>
                <li><img src="./assets/images/1.jpg" alt="Description 1"></li>
                <li><img src="./assets/images/2.jpg" alt="Description 2"></li>
                <li><img src="./assets/images/3.jpg" alt="Description 3"></li>
                <li><img src="./assets/images/4.jpg" alt="Description 4"></li>
                <li><img src="./assets/images/5.jpg" alt="Description 5"></li>
                <li><img src="./assets/images/6.jpg" alt="Description 6"></li>
                <li><img src="./assets/images/7.jpg" alt="Description 7"></li>
              </ul>
              <ul>
                <li><img src="./assets/images/1.jpg" alt="Description 1"></li>
                <li><img src="./assets/images/2.jpg" alt="Description 2"></li>
                <li><img src="./assets/images/3.jpg" alt="Description 3"></li>
                <li><img src="./assets/images/4.jpg" alt="Description 4"></li>
                <li><img src="./assets/images/5.jpg" alt="Description 5"></li>
                <li><img src="./assets/images/6.jpg" alt="Description 6"></li>
                <li><img src="./assets/images/7.jpg" alt="Description 7"></li>
              </ul>
            </div>
       
        </div>
        </div>
      </div>
       <div class="col-md-6">
        <div class="row g-4 ">
          <div class="col-sm-6">
            <div class="about-card">
              <div class="icon">
                <i class="fas fa-rocket"></i>
              </div>
              <div class="info">
                <h4>Accelerated Deployment</h4>
                <p>Quickly deploy training programs and initiatives using streamlined setup and user-friendly interface.</p>
              </div>
           
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="about-card">
              <div class="icon">
                <i class="fas fa-comment"></i>
              </div>
              <div class="info">
                <h4>Measured Impact</h4>
                <p>Demonstrate the effectiveness of training experiences with clear, measurable results that benefit your organization.</p>
              </div>
            
            </div>
          </div>
        
          <div class="col-12">
            <div class="about-card">
              <div class="icon">
                <i class="fas fa-folder-open"></i>
              </div>
              <div class="info">
                <h4>Structured Team Management</h4>
                <p>Efficiently manage teams and workflows with structured and scalable solutions.</p>
              </div>
              <div class="action">
                <button>Explore</button>
              </div>
            </div>
          </div>
        </div>
       </div>
   
     </div>
  </div>
 

       </article>

        </div>
         </section>
 
      
      
      
      
      
      
      
      
