
<main>
    <div class="content-main">

        <section class="top-info">
         <app-navbar></app-navbar>

            <div class="container">
                <section class="content">
                    <h2>THE COMPLETE
                        <span>LEARNING PLATFORM!</span>
                    </h2>
                   
                    <p>Experience a world-class, science-backed enablement solution that maximizes your workforce potential through comprehensive learning.</p>
                    <div class="actions">
                        <button>
                            Start for Free <i class="ms-2  fa-solid fa-arrow-right"></i>
                        </button>
                        <button routerlink="/book-demo" tabindex="0">
                            Book a Demo
                        </button>
                    </div>
                </section>
                
               
            </div>
            
        </section>
       
        
    </div>

    
<section class="content bottom-info ">
    <div class="container">
        <div class="img-sec ">
            <img src="./assets/images/FirstSectionCover.png" alt="container" width="460">
        </div>
    </div>
</section>
    
</main>




