<section class="extension-section">
    <div class="container">
      <div class="extension-content">
        <header class="">
          <div class="title">
            <h4>Popular Topics</h4>
            <p>
              Explore a diverse array of learning resources designed to enhance your professional skills and personal growth.
            </p>
          </div>
        </header>
        <swiper-container  #swiperRef class="mySwiper  "  space-between="10"
        slides-per-view="">
        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg11.png ); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon7 (1).png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector1.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>
        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg2.png); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon2.png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector2.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>
        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg3.png); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon3.png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector3.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>
        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg4.png); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon10.png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector10.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>
        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg5.png); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon5.png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector5.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>
     
        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg6.png); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon6.png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector6.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>
        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg7.png); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon7.png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector7.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>
        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg8.png); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon8.png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector8.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>

        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg10\ \(1\).png); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon10.png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector10.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>


        <swiper-slide> 

            <div class="extension-card" style="background-image: url(./assets/images/bg9.png); display: flex;">
                <div>
                  <h4 class="">
                    <img src="./assets/images/icon9.png" alt="" srcset="">
                    <span>Entrepreneurship</span>
                  </h4>
                  <p>
                    Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
                  </p>
                </div>
                <div class="img-view flex">
                  <img src="./assets/images/vector9.png" alt="" srcset="">
                </div>
              </div>
        </swiper-slide>

        <swiper-slide> 
            <div class="extension-card" style="background-image: url(./assets/images/bg11.png); display: flex;">
          <div>
            <h4 class="">
              <img src="./assets/images/icon11.png" alt="" srcset="">
              <span>Entrepreneurship</span>
            </h4>
            <p>
              Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
            </p>
          </div>
          <div class="img-view flex">
            <img src="./assets/images/vector11.png" alt="" srcset="">
          </div>
        </div>
      </swiper-slide>

      <swiper-slide> 

        <div class="extension-card" style="background-image: url(./assets/images/bg12.png); display: flex;">
            <div>
              <h4 class="">
                <img src="./assets/images/icon12.png" alt="" srcset="">
                <span>Entrepreneurship</span>
              </h4>
              <p>
                Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
              </p>
            </div>
            <div class="img-view flex">
              <img src="./assets/images/vector12.png" alt="" srcset="">
            </div>
          </div>
    </swiper-slide>
      
      <swiper-slide> 

        <div class="extension-card" style="background-image: url(./assets/images/bg16.png); display: flex;">
            <div>
              <h4 class="">
                <img src="./assets/images/icon16.png" alt="" srcset="">
                <span>Entrepreneurship</span>
              </h4>
              <p>
                Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
              </p>
            </div>
            <div class="img-view flex">
              <img src="./assets/images/vector16.png" alt="" srcset="">
            </div>
          </div>
    </swiper-slide>

    
    <swiper-slide> 
        <div class="extension-card" style="background-image: url(./assets/images/bg11.png); display: flex;">
      <div>
        <h4 class="">
          <img src="./assets/images/icon11.png" alt="" srcset="">
          <span>Entrepreneurship</span>
        </h4>
        <p>
          Turn your business ideas into reality with courses on entrepreneurship, from business planning to marketing.
        </p>
      </div>
      <div class="img-view flex">
        <img src="./assets/images/vector11.png" alt="" srcset="">
      </div>
    </div>
  </swiper-slide>
      </swiper-container>



          <div class="see-more">
            <a href="#" target="_blank" rel="noopener noreferrer" class="flex">
              Browse thousands more 
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
      </div>
    </div>
  </section>


 