
<section class="testimonials-section">
    <div class="container">
        <header>
            <h2>Wall of <span>Love</span></h2>
            <p>What other people are saying about Zedny</p>
        </header>
        <article>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonials-card">
                        <div class="testimonial-header">
                            <div class="avatar"  style="background-color: #DD4292;" >S</div>
                            <div class="info">
                                <h5>Sherif Salah</h5>
                                <p>CEO</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                "The level of details and dedication from Zedny and its Customer Success Manager for our success and development is exemplary engaging "

                            </p>
                        </div>
                        <div class="testimonial-logo">
                            <img src="./assets/images/download.png" alt="Dr. Oetker Logo">
                        </div>
                    </div>


                    
                </div>
                <div class="col-lg-4">
                    <div class="testimonials-card">
                        <div class="testimonial-header">
                            <div class="avatar"  style="background-color: #AE64FC;" >Y</div>
                            <div class="info">
                                <h5>Yasser Sery</h5>
                                <p>Chairman</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                              
                             
                                We have found the right partner to tackle all the needed demand with a complete solution representing great value.   Never thought I would see a startup like a giant.
                            </p>
                        </div>
                        <div class="testimonial-logo">
                            <img src="./assets/images/download (1).png" alt="Dr. Oetker Logo">
                        </div>
                    </div>


                    
                </div>
                <div class="col-lg-4">
                    <div class="testimonials-card">
                        <div class="testimonial-header">
                            <div class="avatar"  style="background-color: #461a74;" >M</div>
                            <div class="info">
                                <h5>Mohamed Abbas</h5>
                                <p>HR Director</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                After so many years working to digitize learning and gaining the right experience in it, Bank Misr found the right partner for the L&D future taking it to world class levels.


                            </p>
                        </div>
                        <div class="testimonial-logo">
                            <img src="./assets/images/Banque_Misr.svg" alt="Dr. Oetker Logo">
                        </div>
                    </div>


                    
                </div>
                <div class="col-lg-4">
                    <div class="testimonials-card">
                        <div class="testimonial-header">
                            <div class="avatar"  style="background-color: #541837;" >A</div>
                            <div class="info">
                                <h5>Ahmed Madkour</h5>
                                <p>HR Director</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Zedny is raising the bar and in all my career and experience with elearning, I have never seen such content quality from any provider whether local or international. 

                            </p>
                        </div>
                        <div class="testimonial-logo">
                            <img src="./assets/images/download (2).png" alt="Dr. Oetker Logo">
                        </div>
                    </div>


                    
                </div>
                <div class="col-lg-4">
                    <div class="testimonials-card">
                        <div class="testimonial-header">
                            <div class="avatar" style="background-color: #255b66;" >A</div>
                            <div class="info">
                                <h5>Karim Zein</h5>
                                <p>CEO</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                We were able to enhance our teams’ capabilities through the simple, comprehensive and exciting training content provided by Zedny. Great investment in your 
                            </p>
                        </div>
                        <div class="testimonial-logo">
                            <img src="./assets/images/download (3).png" alt="Dr. Oetker Logo">
                        </div>
                    </div>


                    
                </div>
                <div class="col-lg-4">
                    <div class="testimonials-card">
                        <div class="testimonial-header">
                            <div class="avatar" style="background-color: #198754;" >K</div>
                            <div class="info">
                                <h5>Mohamed Bakry</h5>
                                <p>CEO</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Zedny's innovative approach to e-learning has transformed our workforce development strategy, offering scalable solutions that cater perfectly to our regional needs.
                            </p>
                        </div>
                        <div class="testimonial-logo">
                            <img src="./assets/images/download (6).png" alt="Dr. Oetker Logo">
                        </div>
                    </div>


                    
                </div>
                <div class="col-lg-4">
                    <div class="testimonials-card">
                        <div class="testimonial-header">
                            <div class="avatar" style="background-color: #ffc107;" >S</div>
                            <div class="info">
                                <h5>Rania Abdullah</h5>
                                <p>CEO</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                The comprehensive e-learning solutions provided by Zedny have exceeded our expectations, enhancing our team's productivity and knowledge with exceptional .
                            </p>
                        </div>
                        <div class="testimonial-logo">
                            <img src="./assets/images/download (4).png" alt="Dr. Oetker Logo">
                        </div>
                    </div>


                    
                </div>
                <div class="col-lg-4">
                    <div class="testimonials-card">
                        <div class="testimonial-header">
                            <div class="avatar" style="background-color: #0d6efd;">J</div>
                            <div class="info">
                                <h5>Jacquline Mourad</h5>
                                <p>CEO</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                "The level of details and dedication from Zedny and   its Customer Success Manager for our success and development is exemplary engaging all of the employees ."

                            </p>
                        </div>
                        <div class="testimonial-logo">
                            <img src="./assets/images/download (5).png" alt="Dr. Oetker Logo">
                        </div>
                    </div>


                    
                </div>
                <div class="col-lg-4">
                    <div class="testimonials-card">
                        <div class="testimonial-header">
                            <div class="avatar"  style="background-color: #DD4292;" >S</div>
                            <div class="info">
                                <h5>Sherif Salah</h5>
                                <p>CEO</p>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p>
                                Partnering with Zedny has been a game-changer. Their tailored learning tracks and detailed analytics help us nurture talent effectively across all levels.                            </p>
                        </div>
                        <div class="testimonial-logo">
                            <img src="./assets/images/download.png" alt="Dr. Oetker Logo">
                        </div>
                    </div>


                    
                </div>
          
            </div>
        </article>
    </div>
</section>

<section class="subscribe-section">
    <div class="container">
        <div class="content">
            <div class="subscribe-details">
                <div class="info">
                    <h3>Start and make a difference in your company.</h3>
                    <p>Explore and embrace our comprehensive e-learning solutions to foster a culture of continuous development and innovation company-wide.</p>
                </div>
                <div class="action">
                    <button tabindex="0">
                        Explore
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    <button>
                        Start for Free
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>