<section class="powered-journey">
    <div class="container">
      <header>
        <h2>
          <span>AI powered</span> journey
        </h2>
        <h5>It doesn't get easier than this</h5>
        <p>
          You are steps away from embarking on your personalized learning pathway with Zedny.
        </p>
      </header>
      <article>
        <div class="timeline">
          <ul >
            <!-- Timeline Card 1 -->
            <li>
              <div class="timeline-card col-sm-12">
                <div class="view-img">
                  <video muted loop  autoplay>
                    <source src="./assets/images/GIF 2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
                <div class="info">
                 <div>
                    <h4>Assessment revolution 
                        <span>that resonates 

                    </span></h4>
                    <p>
                        Identify skill gaps, personality traits, and learning preferences for a tailored learning experience.
                      </p>
                 </div>
                
                  <button>
                  
                    <span>Get Started</span>
                  </button>
                </div>
              </div>
            </li>

            <li>
                <div class="timeline-card">
                  <div class="view-img">
                    <video muted loop autoplay >
                      <source src="./assets/images/GIF4.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <div class="info">
                   <div>
                      <h4>Assessment revolution 
                          <span>that resonates 
  
                      </span></h4>
                      <p>
                          Identify skill gaps, personality traits, and learning preferences for a tailored learning experience.
                        </p>
                   </div>
                  
                    <button>
                    
                      <span>Get Started</span>
                    </button>
                  </div>
                </div>
              </li>

              <li>
                <div class="timeline-card">
                  <div class="view-img">
                    <video muted loop  autoplay>
                      <source src="./assets/images/GIF 1.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <div class="info">
                   <div>
                      <h4>Assessment revolution 
                          <span>that resonates 
  
                      </span></h4>
                      <p>
                          Identify skill gaps, personality traits, and learning preferences for a tailored learning experience.
                        </p>
                   </div>
                  
                    <button>
                    
                      <span>Get Started</span>
                    </button>
                  </div>
                </div>
              </li>

              <li>
                <div class="timeline-card">
                  <div class="view-img">
                    <video muted loop  autoplay>
                      <source src="./assets/images/Gif 3.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <div class="info">
                   <div>
                      <h4>Assessment revolution 
                          <span>that resonates 
  
                      </span></h4>
                      <p>
                          Identify skill gaps, personality traits, and learning preferences for a tailored learning experience.
                        </p>
                   </div>
                  
                    <button>
                    
                      <span>Get Started</span>
                    </button>
                  </div>
                </div>
              </li>
      
          </ul>
        </div>
      </article>
    </div>
  </section>
