


<footer class="zedny_footer d-flex flex-column  justify-content-between  text-center ">
    <div class="footer-content">
        <div class="pre_landing_footer d-flex flex-column justify-content-end w-full">
            <div class="icons">
                <a href="https://www.facebook.com/ZednyOfficial?mbextid=ZbKwKL" target="_blank">
                    <img class="footerIcon" src="./assets/images/f (1).png" alt="">
                </a>
                <a href="https://youtube.com/@zedny-651?si=EqmAjxhbNvzNpbD" target="_blank">
                    <img src="./assets/images/Y.png" alt="">
                </a>
                <a href="https://www.linkedin.com/company/zedny-educational-services/" target="_blank">
                    <img src="./assets/images/L.png" alt="">
                </a>
                <a href="https://www.instagram.com/zednyofficial2?igshid=VWU5Y3NvM2Z1ZGJx" target="_blank">
                    <img src="./assets/images/I.png" alt="">
                </a>
                <a href="https://wa.me/message/F6VU1YW4WCVJN1" target="_blank">
                    <img src="./assets/images/w.png" alt="">
                </a>
            </div>
            <div class="copy_right">
                &copy; 2024 Zedny Educational Services. All rights reserved.
            </div>
            <div class="pages">
                <a href="/our-policies/terms-of-service"><p>
                    Terms of Service
                </p></a>
                <a href="/our-policies/manage-privacy"><p>
                    Manage Privacy
                </p></a>
                <a href="/our-policies/manage-cookies"><p>Manage Cookies</p>

                </a>
            </div>
        </div>
      
    </div>
</footer>
