<!-- 
<nav class="navbar navbar-expand-lg   fixed">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/main-logo (1).svg"  width="200px" alt="Zedny Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Products & services</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link  " href="#">Our Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Policies</a>
                </li>
            </ul>
            <div class="d-flex action-btns align-items-center gap-3">
                <button class="btn btn-login">Login</button>
                <button class="btn btn-signup">
                    <span>Sign Up</span>
                </button>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        EN
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">EN</a></li>
                        <li><a class="dropdown-item" href="#">AR</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg   fixed">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="./assets/images/main-logo (1).svg" alt="Logo" class="main-src imgSize">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse show toggle" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <!-- Dropdown menu: Products & Services -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products & Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/products-services/competency-management">Competency Management</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/products-services/gamification">Gamified Learning</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/products-services/personalized-learning">Personalized Learning</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/products-services/learning-management">Learning Management</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/products-services/assessment-hub">Assessment Hub</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/products-services/AI-Zedny">AI at Zedny</a></li>
                    </ul>
                </li>

                <!-- Dropdown menu: Our Solutions -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="solutionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Solutions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="solutionsDropdown">
                        <li><a class="dropdown-item" href="/our-solutions/For-Business">For Business</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/our-solutions/for-individuals">For Individuals</a></li>
                    </ul>
                </li>

                <!-- Dropdown menu: Company -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="companyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Company
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="companyDropdown">
                        <li><a class="dropdown-item" href="/company/our-story">Our Story</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/company/our-method">Our Method</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/team">Team</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/company/contact-us">Contact Us</a></li>
                    </ul>
                </li>

                    <!-- Dropdown menu: Our Policies -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="policiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Our Policies
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="policiesDropdown">
                            <li><a class="dropdown-item" href="/our-policies/academic-integrity-policy">Academic Integrity Policy</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/our-policies/attendance-policyfor-virtual-learning">Attendance Policy for Virtual Learning</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/our-policies/intellectual-property-copyright">Intellectual Property and Copyright</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/our-policies/technical-support-policy">Technical Support Policy</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/company/site-info">User Manual</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/our-policies/academic-supervision">Academic Supervision</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/our-policies/staff-preparations-responsibilities">Staff Preparations Responsibilities</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/our-policies/terms-of-service">Terms of Service</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/our-policies/manage-privacy">Manage Privacy</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/our-policies/manage-cookies">Manage Cookies</a></li>
                        </ul>
                    </li>
            </ul>
            <div class="d-flex action-btns">
                <button class="btn "><span>Login</span></button>
                <button class="btn "><span>Sign Up</span></button>
                <div class="dropdown lang-dropdown">
                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="btn  btn-secondary dropdown-toggle">
                        EN <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Arabic</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>




